//Always import this for material comunication
@import '~@angular/material/theming';

$fomento-primary: (
    50 : #e5f4ff,
    100 : #bde4ff,
    200 : #92d3ff,
    300 : #66c1ff,
    400 : #45b3ff,
    500 : #24a6ff,
    600 : #209eff,
    700 : #1b95ff,
    800 : #168bff,
    900 : #0d7bff,
    A100 : #ffffff,
    A200 : #f6faff,
    A400 : #c3dcff,
    A700 : #aacdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$fomento-accent: (
    50 : #ffeee8,
    100 : #ffd4c7,
    200 : #ffb8a1,
    300 : #ff9b7b,
    400 : #ff855f,
    500 : #ff7043,
    600 : #ff683d,
    700 : #ff5d34,
    800 : #ff532c,
    900 : #ff411e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd4ce,
    A700 : #ffbeb4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fomento-foreground: (
    50 : #e8e8e7,
    100 : #c5c5c4,
    200 : #9e9e9d,
    300 : #777776,
    400 : #595958,
    500 : #3c3c3b,
    600 : #363635,
    700 : #2e2e2d,
    800 : #272726,
    900 : #1a1a19,
    A100 : #f2f270,
    A200 : #eeee41,
    A400 : #fcfc00,
    A700 : #e3e300,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
